.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.bomb-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  animation: colorPulse 3s ease-in-out infinite;
  transition: background-color 2s ease;
  margin-top: 50px;
}

.bomb-button:hover {
  background-color: darkred;
}

@keyframes colorPulse {
  0% {
    background-color: rgba(255, 0, 0, 0.8);
  }
  50% {
    background-color: rgba(255, 0, 0, 1);
  }
  100% {
    background-color: rgba(255, 0, 0, 0.8);
  }
}

.bomb-effect {
  margin-top: 20px;
  font-size: 24px;
  animation: explode 0.5s ease, fadeOut 3s forwards;
  color: yellow;
}

.sweet-text {
  margin-top: 20px;
  font-size: 18px;
  color: pink;
  font-family: 'Cursive', sans-serif;
  animation: fadeIn 2s ease-in-out infinite;
}

@keyframes fadeIn {
  0% {
    color: pink;
  }
  50% {
    color: rgba(255, 0, 0, 1);
  }
  100% {
    color: rgba(255, 0, 0, 0.8);
  }
}

/* Timeline Effects */
.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  overflow-y: scroll;
  height: 100vh;
}

.timeline-item {
  position: relative;
  margin: 60px 0;
  width: 400px;
  height: auto;
}

.timeline-item img {
  width: 100%;
  border-radius: 8px;
}

.line {
  position: absolute;
  left: 50%;
  width: 5px;
  height: 10400px;
  background: transparent;
  transition: background 0.9s;
  z-index: 0;
}

.line.intense {
  animation: lineIntensity 3s ease-in infinite;
}

@keyframes lineIntensity {
  0% {
    background-color: transparent;
  }
  30% {
    background-color: rgba(255, 0, 0, 0.521);
  }
  40% {
    background-color: rgba(255, 0, 0, 0.615);
  }
  50% {
    background-color: rgba(255, 0, 0, 0.801);
  }
  60% {
    background-color: rgba(255, 119, 0, 0.725);
  }
  70% {
    background-color: rgba(255, 94, 0, 0.574);
  }
  100% {
    background-color: rgba(255, 200, 0, 0.923);
  }
}

/* Connecting Line */
.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, red, transparent);
  z-index: -1;
  animation: lineIntensity 1s ease-in infinite;
}

.message {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}

.timeline-item:hover .message {
  opacity: 1;
}

